.Navbar {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 100;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Navbar_logo-container {
    flex: 0 1 100px;
    height: 100%;
    padding: 10px 0px 10px 10px;
}

.Navbar_logo {
    width: 100%;
    height: 100%;
}

.language-toolbar {
    width: 100%;
    position: fixed;
    display: none;
    top: 50px;
    z-index: 1000;
    padding-left: 0;
}

.language-toolbar.show {
    display: block;
}

.language-toolbar li {
    background-color: white;
    padding: 10px;
    font-weight: 600;
    color: #9FA2A4;
}

.language-toolbar li img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50px;
}

.language-toolbar li:last-of-type {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

li.language-toolbar-title {
    background-color: #f0f0f0;
    color: black;
    font-weight: 700;
}

.navbar-search-form {
    width: 100%;
    position: fixed;
    display: none;
    top: 50px;
    z-index: 1000;
}

.navbar-search-form.show {
    display: block;
}

.navbar-search-form form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navbar-search-form input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
}

svg.svg-inline--fa.fa-search.fa-w-16.search-icon {
    position: absolute;
    color: gray;
    left: 10px;
}

.search-results {
    position: absolute;
    z-index: 1;
    width: 100%;
    list-style: none;
    padding: 0;
}

.search-results li {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    background-color: white;
}

.search-results li:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.product-search-title small {
    font-size: 12px;
    color: black;
    font-weight: 700;
}

li.product-search-title {
    padding: 0;
    padding-left: 10px;
    background-color: #F0F0F0;
}

.Navbar-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 calc(20%);
}

.Navbar-actions-icon {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.Navbar-actions-icon.selected {
    background-color: orange;
}

.close-sidebar-icon {
    top: 0;
    right: 0px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    padding: 0px 15px;
    position: absolute;
}

.close-sidebar-icon span {
    border: 1px solid white;
    padding: 4px 10px;
    border-radius: 50px;
}

.Navbar_aside {
    width: 70%;
    right: 0;
    display: none;
    top: 50px;
    background-color: white;
    position: fixed;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 10000;
}

.active {
    display: block;
}

.Aside_options {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.Aside_options-item {
    padding: 10px 0px;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.Aside_options-item:last-of-type {
    border-bottom: none;
}

.Aside_options-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.panel, .group-list, .category-list {
    display: none;
}

.panel-active, .group-list-open, .category-list-open {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel-active {
    border-top: 1px solid #F3F3F3;
}

.group-list-item {
    color: #717171;
    padding: 10px 0;
    font-weight: 600;
    border-bottom: 1px solid #F3F3F3;
}

.group-item-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category-list-item {
    border-bottom: none;
    padding: 10px;
    font-weight: 400;
}

ul.category-list-open li {
    border-bottom: none;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 400;
}

.carousel.slide {
    background: #F0F0F0;
}

.slider-home.carousel.slide.carousel-fade, .slider-home.carousel.slide.carousel-fade, .slider-home .carousel-item {
    height: 100vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.slider-home .carousel-caption {
    height: 100%;
}

.carousel-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel-button-actions {
    z-index: 10;
    position: absolute;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.carousel-button-actions button {
    flex: 0 1 calc(50% - 1rem);
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: white;
}

.carousel-button-actions button:first-of-type {
    background-color: orange;
}

.carousel-button-actions button:last-of-type {
    background-color: green;
}

.carousel-img {
    object-fit: cover;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.BottomBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px -4px 16px -1px rgba(0, 0, 0, 0.75);
    z-index: 10;
}

.BottomBar svg.svg-inline--fa.fa-home.fa-w-18 {
    font-size: 20px
}

.products-section {
    position: relative;
    width: 100%;
    background-color: #F0F0F0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 15px 20px -5px rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.products-section h2 {
    width: 90%;
    margin: 10px auto;
}

.products-options {
    list-style: none;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-group-item {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 16px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
}

.products-group-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.products-category-item:first-of-type {
    border-top: 1px solid #BDBDBD;
}

.products-category-item {
    color: #BDBDBD;
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid #BDBDBD;
}

.products-category-item:last-of-type {
    border-bottom: none;
}

.contact-form {
    position: relative;
    width: 90%;
    margin: 20px auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form form input, .contact-form form select, .contact-form form textarea {
    margin-bottom: 14px;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    outline: none;
}

.contact-form-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-form-location select, .contact-form-location input {
    flex: 0 1 calc(50% - 1rem);
    width: 100%;
}

.contact-form form button {
    border: none;
    border-radius: 40px;
    outline: none;
    background-color: #1DB954;
    padding: 10px;
    color: white;
    width: 100%;
    margin: 0 auto;
}

.contact-form-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #4E4D5A;
}

.footer-content {
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.footer-logo-container {
    margin-bottom: 10px;
}

.footer-content p {
    color: #C6CED4;
}

.footer-content h3 {
    color: #ffffff;
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.social-media-icon {
    background-color: #6A6975;
    padding: 7px 8px;
    border-radius: 40px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

footer form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer input[type="text"] {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid green;
    outline: none;
    margin-bottom: 10px;
}

footer input[type="text"]::placeholder {
    color: #ACB2BA;
}

footer form button {
    color: white;
    background-color: green;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: 70%;
    margin: 0 auto;
    display: block;
}

iframe.map-iframe {
    width: 100%;
    height: 70vh;
    border-radius: 40px;
    position: relative;
    z-index: 1;
}

.map-container {
    position: relative;
    top: 40px;
}

.products-list-page {
    background-color: #f0f0f0;
}

.breadcrumbs {
    width: 90%;
    margin: 0px auto;
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
}

.breadcrumbs p {
    margin: 0;
}

.breadcrumbs div:first-of-type {
    flex: 0 1 calc(10% - 1rem);
    padding: 10px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.breadcrumbs div:last-of-type {
    flex: 0 1 calc(90% - 1rem);
}

.products-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.products-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -1px 3px 13px -1px rgb(0 0 0 / 49%);
}

.products-list-item div:first-of-type {
    flex: 0 1 calc(50% - 1rem);
}

.products-list-item div:last-of-type {
    flex: 0 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.products-list-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.products-list-item h3, .products-list-item p {
    font-weight: bold;
}

.products-list-item p {
    margin: 0;
}

.products-list-item span {
    background: #95989A;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 10px;
    margin-bottom: 10px;
}

.products-list-item small {
    color: #949494;
    margin-bottom: 10px;
}

.products-list-item button {
    border: 1px solid #1DB954;
    color: #1DB954;
    padding: 5px 10px;
    background-color: white;
    font-weight: 700;
    border-radius: 20px;
    width: 100%;
}

.frequent-questions-top {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.frequent-questions-top h1 {
    margin-left: 20px;
}

.frequent-questions-list {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 20px auto;
}

.frequent-question-button {
    border-top: 1px solid #787878;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.frequent-question-button p {
    margin: 0;
    padding: 0;
    color: #787878;
    font-weight: bold;
}

.frequent-question-content {
    display: none;
    padding: 0px 10px;
    color: #8F8F8F;
    font-weight: 600;
}

.price-short-desc-product {
    width: 90%;
    margin: 0 auto;
}

.price-actions-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.price-product p {
    font-weight: bold;
    font-size: 20px;
}

.price-product small {
    color: #949494;
    font-size: 15px;
}

.product-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.product-actions span {
    background: #95989A;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.product-actions-icon {
    padding: 5px 10px;
    border-radius: 50px;
}

.product-social-media-icons {
    position: absolute;
    background-color: #F0F0F0;
    top: 45px;
    right: 5px;
    width: 200px;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.product-social-media-icons:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 12px;
    border-color: #191464 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -12px;
    right: 5px;
}

.product-social-media-icons.post {
    top: 40px;
    right: -4px;
}

.product-social-media-icons div {
    background-color: #191464;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
}

.short-desc-product p {
    color: #949494;
}

.specifications {
    position: relative;
    z-index: 1;
    background-color: #F0F0F0;
    padding: 30px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.specifications h2 {
    width: 90%;
    margin: 20px auto;
}

.specifications p {
    width: 90%;
    margin: 0 auto;
    color: #959595;
}

.data-sheet {
    top: -30px;
    position: relative;
    padding: 30px 0px;
    background-color: #2379F4;
    color: white;
}

.data-sheet h2 {
    width: 90%;
    margin: 20px auto;
}

.data-sheet-feature {
    width: 90%;
    margin: 0 auto;
}

.data-sheet-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.data-sheet-feature .dashed-line {
    width: 100%;
    border: 1px dashed white;
}

.data-sheet-feature p:last-child {
    font-weight: bold;
}

.related-products-section h2 {
    width: 90%;
    margin: 20px auto;
}

.related-products-section {
    padding: 20px 0;
    position: relative;
    background-color: #F0F0F0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -0px -4px 5px 0px rgba(170, 130, 130, 0.5);
    background-color: #2379F4;
}

.related-product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.related-product-img-container {
    height: 180px;
    z-index: 1;
}

.related-product-item-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
}

.related-product-item-content {
    padding-top: 20px;
    background-color: #2379F4;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    top: -10px;
    position: relative;
    height: 120px;
    box-shadow: -5px 6px 9px -2px rgba(0, 0, 0, 0.59);
}

.related-product-item-content p {
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
}

.product-button-container {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    width: 100%;
}

.product-button {
    width: 90%;
    margin: 0 auto;
    background-color: #1DB954;
    color: white;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 10px 0px;
    display: block;
}

.quienes-somos-banner {
    height: 100vh;
    position: relative;
}

.quienes-somos-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.quienes-somos-banner-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(81, 75, 139, 0.8) 36%, rgba(81, 75, 139, 0.8) 67%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -1px 4px 6px 2px rgba(0, 0, 0, 0.38);
}

.quienes-somos-banner-content h1, .quienes-somos-banner-content p {
    color: white;
}

.quienes-somos-banner-content button {
    background: transparent;
    padding: 5px 10px;
    outline: none;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.quienes-somos-content {
    background-color: #F0F0F0;
    padding: 40px 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.quienes-somos-content h2 {
    width: 90%;
    margin: 20px auto;
    font-weight: bold;
}

.quienes-somos-content p {
    width: 90%;
    margin: 0 auto;
    color: #777777;
}

.novedades-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.novedades-list-item {
    margin-top: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.novedades-list-item img {
    width: 100%;
    margin-bottom: 20px;
}

.novedades-list-item h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #707070;
    font-weight: bold;
}

.novedades-list-item small {
    color: #707070;
    font-weight: 700;
}

.novedades-list-item p {
    margin-bottom: 20px;
    color: #797979;
}

.novedades-top {
    width: 90%;
    margin: 20px auto 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.novedades-top h1 {
    margin-left: 20px;
}

.post-screen-content {
    width: 90%;
    margin: 0 auto;
}

.post-screen-content img {
    width: 100%;
    margin-bottom: 20px;
}

.post-screen-content h2 {
    font-size: 20px;
    color: #707070;
    font-weight: bold;
}

.post-screen-actions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-screen-actions small {
    color: #707070;
    font-weight: 700;
}

.post-screen-content p {
    margin-bottom: 20px;
    color: #797979;
}

.featured-products {
    background-color: #2379F4;
    position: relative;
    top: -40px;
    padding: 40px 0px;
}

.featured-products h2 {
    color: white;
    text-align: center;
    padding: 40px 0;
}

.pagination-component {
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pagination-component button {
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

.pagination-component button.selected {
    color: orange;
}